
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <h1>About</h1>
      <p class="about">Blog Cf publishes articles on a twice-weekly basis, covering a variety of digital specialisms, <br/>from content and social media marketing, to search and analytics.</p>
    </div>
    <div class="col-xs-12 col-md-3">
      <%= render 'shared/sidebar' %>
    </div>
  </div>
</div>
