
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <h1>Contact Us</h1>
      <h3 class="address address-top">Address</h3>
      <p class="address">30 Winders Road, SW11 3HB London, UK</p>
      <h3 class="address">Phone number</h3>
      <p class="address">+44 (30) 26050</p>
      <h3 class="address">Email</h3>
      <p class="address add-p">info@blog-cf.co.uk</p>
    </div>
    <div class="col-xs-12 col-md-3">
      <%= render 'shared/sidebar' %>
    </div>
  </div>
</div>
