// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-family: 'Noto Serif JP', sans-serif;
  margin-bottom: 50px;
}

th,
td {
  font-size: 80%;
  padding: 10px !important;
}

.show-page {
  text-align: center;
  margin: 80px 0;

  p {
    text-align: left;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    font-size: 60%;
    margin: 0 20px;
  }
}

.new:link,
.new:visited {
  display: inline-block;
  margin: 10px;
  color: white !important;
  border: 1px solid #5FC325;
  background-color: #5FC325;
  padding: 10px;
  border-radius: 5px;
}

.new:hover,
.new:active {
  color: #5FC325 !important;
  background-color: transparent;
  text-decoration: none;
}

.actions {
  margin: 40px 0px;
  font-size: 80%;
}

.actions input {
  background-color: #47C0E5;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

form {
  margin: 10px 10px 40px 10px;
}

.back:link,
.back:visited,
.edit:link,
.edit:visited,
.show:link,
.show:visited {
  display: inline-block;
  margin: 10px;
  color: black !important;
}

.edit:link,
.edit:visited {
  margin-left : 0px;
}

.back:hover,
.back:active,
.edit:hover,
.edit:active,
.show:hover,
.show:active {
  color: #5FC325 !important;
  background-color: transparent;
  text-decoration: none;
}

.edit-product:link,
.edit-product:visited {
  margin: 10px;
  color: black !important;
  font-size: 150%;
}

.edit-product:hover,
.edit-product:active {
  color: #5FC325 !important;
  background-color: transparent;
  text-decoration: none;
}

#notice {
  margin: 80px 20px 20px 20px;
}

.show-page {
  h2{
    color: #EF6323;
  }

  h6{
    color:#002632;
    margin-bottom: 30px;
  }
}

.box {
  display: block;
  height: 150px;
  width: auto;
  margin: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #002632;
}

.btm-sbt {
  display: inline-block;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: #EF6323;
  border: 1px solid #EF6323;
}

.btm-sbt:hover,
.btm-sbt:active {
color: #EF6323;
background-color: white;
}

.add-comment{
  margin: 20px;
  padding: 10px;
  border: 1px solid #EF6323;
  width: 30%;
  h4 {
    padding-bottom: 20px;
  }
}

.article-reviews {
  margin: 20px;
  padding: 10px;
  border: 1px solid #47C0E5;
  p {
    padding: 20px;
  }
}

/*Pagination*/
.previous_page,
.next_page,
.pagination a,
.pagination em {
  display: inline-block;
  margin: 10px;
  color: black !important;
}

.previous_page:hover,
.next_page:hover,
.pagination a:hover,
.pagination em:hover {
  color: #5FC325 !important;
  background-color: transparent;
  text-decoration: none;
}

/*Queries*/

/* to 1200px */

@media only screen and (max-width: 1200px) {

  .box,
  .image-text {
    display:none;
  }

}

/* to 767px */

@media only screen and (max-width: 767px) {

  .edit-product {
    font-size: 100% !important;
    margin: 0 !important;
  }

}
