// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-family: 'Noto Serif JP', sans-serif;
  margin-bottom: 50px;
}

h1 {
  font-size: 40px;
  text-align: center;
  color: #EF6323;
  margin-top: 100px;
  clear: both;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
  text-align: center;
  color: #002632;
  margin-top: 40px;
}

/*Navigation Bar*/

.nav {
  height: 50px;
  width: 100%;
  background-color: #002632;
  position: relative;
}

.nav-title {

  a:link,
  a:visited {
    color: #47C0E5;
    font-size: 90%;
  }

  a:hover,
  a:active {
    color: #EF6323;
    background-color: #002632;
  }
}


.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
  margin: 0 10px;
}

.nav > .nav-links > a {

  &:link,
  &:visited {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #EF6323;
  }

  &:hover,
  &:active {
    color:#47C0E5;
    background-color: #002632;
  }
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover {
    background-color: #002632;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #EF6323;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #E5E4EA;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) + .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked + .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}


/*Sidebar*/

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 300px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #E5E4EA; /* Light Grey */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 80px;
}

/* The sidebar posts' box */
.latest-posts {
  background-color: white;
  margin: 20px;
  padding: 10px;

  h6 {
    color: #47C0E5;
  }

  ul {
    padding: 20px;
  }
}/* The navigation menu links */

.sidenav a {
  -webkit-transition: background-color 0.2s, color 0.2s, border 0.2s; /* Safari */
  transition: background-color 0.2s, color 0.2s, border 0.2s;

  &:link,
  &:visited {
    text-decoration: none;
    font-size: 15px;
    color: black;
  }

  &:hover,
  &:active {
    color: #EF6323;
    background-color: white;
  }
}

/*Search Form*/

.form-control {
  margin: 10px;
  width: 280px;
  height: auto;

  &:focus {
    border-color: #EF6323;
    box-shadow: none;
  }
}

/* On smaller screens, where height is less than 1200px, don't display the sidebar*/

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .sidenav {display: none;}
}

.box-homepage {
  padding: 20px;
  background-color: #002632;
  border: 5px solid white;
  color: white;

  p {
    margin: 10px;
  }
}

h6 {

  a {
    &:link,
    &:visited {
      display: inline-block;
      margin: 10px;
      color: #EF6323 !important;
    }

    &:hover,
    &:active {
      color: #47C0E5 !important;
      background-color: transparent;
      text-decoration: none;
    }
  }
}

.jumbotron {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  border-radius: 0 !important;
}

.jumbotron-text {
  line-height: 1rem;
}

hr {
  background-color: white;
}

.jumbotron p {
  text-align: center;
  font-size: 105%;
}

.btn {
  -webkit-transition: background-color 0.2s, color 0.2s, border 0.2s; /* Safari */
  transition: background-color 0.2s, color 0.2s, border 0.2s;

  &:link,
  &:visited {
    background-color: #EF6323;
    border: 1px solid white;
  }

  &:hover,
  &:active {
    color: #EF6323;
    border: 1px solid #EF6323;
    background-color: white;
  }
}

.address {
  text-align: center;
  font-size: 20px;
  color: #6b6b6b;
}

.address-top {
  margin-top: 80px;
}

.about {
  font-size: 18px;
  text-align: center;
}

footer {
  font-size: 50%;
  position: fixed;
  bottom: 0px;
  z-index: 9999;
  background-color: #002632;
  color: white;
  text-align: center;
}
