// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-family: 'Noto Serif JP', sans-serif;
  margin-bottom: 50px;
}

h1 {
  font-size: 40px;
  text-align: center;
  color: #EF6323;
  margin-top: 100px;
  clear: both;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
  text-align: center;
  color: #002632;
  margin-top: 40px;
}

nav {
  height: 50px;
  background-color: #002632;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  border-bottom: 1px solid #EF6323;
}

nav ul {
    margin-top: 5px;
    list-style-type: none;
}

nav li {
    display: inline-block;
    float: right;
    margin: 10px 10px;
}

nav .navbar-brand {
  display: inline-block;
  float: left;
  margin: 10px 10px;
}

nav a:link,
nav a:visited {
  text-decoration: none;
  color: #EF6323;
  font-weight: bolder;
  font-size: 20px;
}

nav a:hover,
nav a:active {
  color: #47C0E5;
  text-decoration: none;
  background-color: transparent;
}

.box-homepage {
  padding: 20px;
  background-color: #002632;
  border: 5px solid white;
  color: white;

  p {
    margin: 10px;
  }
}

h6 {

  a {
    &:link,
    &:visited {
      display: inline-block;
      margin: 10px;
      color: #EF6323 !important;
    }

    &:hover,
    &:active {
      color: #47C0E5 !important;
      background-color: transparent;
      text-decoration: none;
    }
  }
}

.jumbotron {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

.jumbotron-text {
  line-height: 1rem;
}

hr {
  background-color: white;
}

.jumbotron p {
  text-align: center;
  font-size: 105%;
}

.btn {
   -webkit-transition: background-color 0.2s, color 0.2s, border 0.2s; /* Safari */
  transition: background-color 0.2s, color 0.2s, border 0.2s;

  &:link,
  &:visited {
    background-color: #EF6323;
    border: 1px solid white;
  }

  &:hover,
  &:active {
    color: #EF6323;
    border: 1px solid #EF6323;
    background-color: white;
  }
}

footer {
  font-size: 50%;
  position: fixed;
  bottom: 0px;
  z-index: 9999;
  background-color: #002632;
  color: white;
  text-align: center;
}

/*Queries*/

/* Small phones to small tablets: from 481px to 767px */

@media only screen and (max-width: 767px) {

.home {
  display:none;
}

}
